In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
from matplotlib.pyplot import figure
%matplotlib inline
import seaborn as sns

import plotly.graph_objects as go

import functools

# Import The Data

In [2]:
# Read in S&P 500 and Campbell Soup Company Data

cpb = pd.read_csv('supporting_files/CPB.csv')
sandp500 = pd.read_csv('supporting_files/^GSPC.csv')

Year-To_Date (YTD) Historical Data Sources:

Campbell Soup Company (CPB): https://finance.yahoo.com/quote/CPB/history?p=CPB&.tsrc=fin-srch

S&P 500 (^GSPC): https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC

In [4]:
#The CPB data frame header

cpb.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2018-11-21  40.430000  40.549999  39.340000  39.520000  38.147472  2443500
1  2018-11-23  39.619999  40.689999  39.529999  40.529999  39.122398  1369500
2  2018-11-26  40.529999  40.529999  38.790001  39.020000  37.664841  5348400
3  2018-11-27  39.049999  39.529999  38.889999  39.509998  38.137821  2306900
4  2018-11-28  39.500000  39.700001  39.090000  39.500000  38.128170  2284900

In [6]:
#The S&P 500 data frame header

sandp500.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-11-21,2657.739990,2670.729980,2649.820068,2649.929932,2649.929932,3233550000
1,2018-11-23,2633.360107,2647.550049,2631.090088,2632.560059,2632.560059,1651650000
2,2018-11-26,2649.969971,2674.350098,2649.969971,2673.449951,2673.449951,3443950000
3,2018-11-27,2663.750000,2682.530029,2655.889893,2682.169922,2682.169922,3485220000
4,2018-11-28,2691.449951,2744.000000,2684.379883,2743.790039,2743.790039,3951670000

# Matplotlib